/*recursos externos*/
@font-face{
    font-family: 'RUST';
    src: url(rust/Rust.ttf);
    font-weight: bold;
    font-style: bold;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*body*/
body{
    background-color: #0D0D0D;
    color: #F2F2F2;
    font-family:'roboto mono', monospace ;
    padding: 20px;
    margin-left: 10px;
    margin-right:10px;

}
h1{
    text-align: center;
}

/*FORMULARIO*/ 

form{
	width:500px;
	padding:20px;
	margin:auto;
}
form fieldset{
    border-radius: 20px;
}
input[type=text] {
    font-family:'roboto mono', monospace;
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password] {
    font-family:'roboto mono', monospace;
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  /*button sacado de internet*/
  form button{
    font-family: 'roboto mono', monospace;
    margin-left: 45%;
    background-color: red;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: bold;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
  }
  h4{
    text-align: center;
  }

   button{
    font-family: 'roboto mono', monospace;
    margin-left: 40%;
    background-color: red;
    border: none;
    border-radius: 30px;
    color: black;
    font-size: bold;
    padding: 16px;
    text-decoration: none;
    cursor: pointer;
  }
